body {
  margin: 0;
  padding: 0;
}

/* estilo do cabeçalho */
header {
  background: #6ad2f3;
  height: 65px;
  margin-top: 0;
  }

h1 {
  margin-top: 0;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  font-family:monospace;
  
  }

/* estilo para o conteúdo principal */
main {
  background-image: url(../assets/images/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 658px;
  margin: 0;
}
/* estilo onde se encontra as boas vindas */
.boxWelcome {
  background: white;
  display: inline-block;
  font-family:monospace;
  height: 30%;
  margin: 1% 6%;
  padding-left: 20px;
  width: 40%;
}

.cod{
  color:#0080ff;
  padding-top: 30px;
 }

#message {
  background: white;
  display: inline-block;
  height: 30%;
  margin-top: 1%;
  vertical-align: top;
  width: 40%;
}

/* estilo TextArea onde digita a mensagem */
#words {
  height: 70%;
  border: none;
  font-family:monospace;
  outline: none;
  resize: none;
  width: 80%;
  text-align: justify;
  }

hr {
  margin-top: 0;
}

/* /*estilo do botão twitter/ */
#button-twittear {
  background: #6ad2f3;
  color: white;
  font-family: monospace;
  font-size: 15px;
  height: 35px;
  margin-left: 10px;
  width: 90px;
  border-radius: 7px;
}

/* estilo mensagem ao ser enviada */
.twitt {
  background: white;
  border-radius: 5px;
  display: block;
  font-family:monospace;
  margin: 2% 6%;
  padding: 3px;
  width: 87%;
  height: 5%;

}

/* contador de caracteres */
#character {
  color:#1F98C7;
  float: right;
  height: 25px;
  margin-right: 20px;
  width: 30px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}